{% extends "base.html" %}
{% block content %}

<div class="container" id="login"><h3 style="background-color:#e3f2fd;">{{ msg }}</h3><br>
    <form style="border-radius: 5px;
  background: #F5F5F5;" autocomplete="off" action="{{ url_for('register') }}" method="post" class="col-md-10">
    <div class="mb-4">
      <label style="border-radius: 5px;
  background: #e3f2fd;" for="exampleInputEmail1" class="form-label">Email</label>
      <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div style="border-radius: 5px;
  background: #e3f2fd;" id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <label style="border-radius: 5px;
  background: #e3f2fd;" for="exampleInputEmail1" class="form-label">Name</label>
    <input name="username" type="text" class="form-control" id="inputPassword2" >
    <br>
    <div class="mb-3">
      <label style="border-radius: 5px;
  background: #e3f2fd;" for="exampleInputPassword1" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <p style="border-radius: 5px;
  background: #e3f2fd;">Already have an account? <a href="/login">Sign in here!</a></p>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form> </div>
{% endblock %}
