#form{padding-top: 10px;}

#show{border:2px solid blue; background: #e3f2fd; box-shadow: 0 2px 5px  }

#amazon{padding-left: 130px;}



#flipkart{padding-left: 130px;}

.myDiv{border-radius: 25px;
  background: #FFFFFF;
  padding: 20px;
  text-align: center;}
#login{padding-top: 100px;}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding-left: 100px;}

.title{
color:red;
}

